__1. 판다스의 특징으로 알맞은 것을 고르시오.__
1. 판다스는 열 벡터(column vector)를 표현하는 객체(object)이다. 
2. 데이터프레임(DataFrame)은 리스트를 모아서 만든 데이터 테이블이다. 
3. 엑셀을 기반으로 개발된 파이썬 라이브러리이다. 
4. Excel, Json, Pickle, csv 등의 데이터 타입을 호출할 수 있다.

> 답 : 4  
> 판다스는 데이터 분석을 위한 파이썬 라이브러리로 데이터프레임은 여러 개의 시리즈 객체로 구성되어 있음

__2. 다음 코드를 실행할 경우 예상되는 결과값은 무엇인가?__

In [3]:
import pandas as pd

raw_data = {'first_name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'],
            'last_name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze'],
            'age': [42, 52, 36, 24, 73]}
            
df = pd.DataFrame(raw_data, index=['a', 'b', 'c', 'd', 'e'])
df["a"]

KeyError: 'a'

> 답 : 2  
> 인덱스를 참고하려면 loc() 함수를 사용

In [4]:
raw_data = {'first_name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'],
            'last_name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze'],
            'age': [42, 52, 36, 24, 73]}
            
df = pd.DataFrame(raw_data, index=['a', 'b', 'c', 'd', 'e'])
df.loc["a"]

first_name     Jason
last_name     Miller
age               42
Name: a, dtype: object

__3. 판다스에서는 엑셀의 피봇 테이블과 같이 데이터의 통계치를 산출하는 함수들이 있다.__  
__다음 중 이러한 역할을 하지 못하는 함수는 무엇인가?__ 
1. crosstab 
2. pivot_table 
3. groupby 
4. summary

> 답 : 4

__4. 다음 코드를 실행할 경우 예상되는 결과값은 무엇인가?__

In [5]:
nested_dict = {'Korea': {2019: 4.6, 2020: 5.7, 2021: 4.8},
               'Japn': {2020: 1.5, 2020: 1.5, 2021: 1.6}}

df = pd.DataFrame(nested_dict).T
df

       2019  2020  2021
Korea   4.6   5.7   4.8
Japn    NaN   1.5   1.6

> 답 : 1

__5. 다음 코드를 실행할 경우 예상되는 결과값은 무엇인가?__

In [6]:
data = [['Choi', 29], ['Kim', 32], ['Jung', 27], ['Lee', 25]]
df = pd.DataFrame(data, columns=['Name', 'Age'], index=[1, 2, 3, 4])

df.iloc[2]['Age']

27

> 답 : 4

__6. 두 개의 데이터프레임을 병합하기 위해 merge 함수를 사용할 수 있다. 다음 중 merge 함수의 매개 
변수 중 설명이 맞는 것을 고르시오.__
1. how : 병합할 유형을 지정한다. full, left, right, inner가 있다. 
2. on : 어떤 키를 기준으로 병합할 것인지 지정한다. 
3. right_index : right index에 어떤 열을 병합할지를 지정한다. 이름을 'str’로 지정한다. 
4. left : left index를 포함할지에 대한 여부를 True 또는 False로 반환한다.

__7. 다음 코드를 실행할 경우 예상되는 결과값은 무엇인가?__

In [7]:
ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
                     'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders '],
            'Rank': [1, 2, 2, 3, 3, 4, 1, 1, 2, 4, 1, 2],
            'Year': [2014, 2015, 2014, 2015, 2014, 2015, 2016, 2017, 2016, 2014, 2015, 2017],
            'Points': [876, 789, 863, 673, 741, 812, 756, 788, 694, 701, 804, 690]}

df = pd.DataFrame(ipl_data)
df.groupby("Team")["Points"].mean()

Team
Devils     768.000000
Kings      761.666667
Riders     786.333333
Riders     690.000000
Royals     752.500000
kings      812.000000
Name: Points, dtype: float64

> 답 : 4

__8. 실행 결과와 같은 데이터가 존재할 떄, df에 Age 열을 제외하여 저장하고 싶다고 가정하자. 적합하지 않은 코드는 무엇인가?__

In [8]:
data = [['Choi', 29], ['Kim', 32], ['Jung', 27], ['Lee', 25]]
df = pd.DataFrame (data, columns = ['Name', 'Age'], index=[1, 2, 3, 4]) 

df

   Name  Age
1  Choi   29
2   Kim   32
3  Jung   27
4   Lee   25

> 답 : 4  
> df = df[["Name"]]은 Name 열만 출력

__9 다음과 같은 데이터프레임 df가 존재할 때, 과목별로 Null 값의 개수를 구하려고 한다. 빈칸에 들어 갈 값을 고르시오.__

In [19]:
import numpy as np

df = pd.DataFrame(data=[['Seol', 'A', 'B', None],
                        ['Kim', "B+", None, None],
                        ['Choi', 'B+', None, 'A'],
                        ['Jung', 'A', None, 'A+']],
                  columns=['Family Name', 'Python', 'DS', 'Algorithm'])

df = df.set_index('Family Name').T
df

Family Name  Seol   Kim  Choi  Jung
Python          A    B+    B+     A
DS              B  None  None  None
Algorithm    None  None     A    A+

In [10]:
df.isnull().count()

Family Name
Seol    3
Kim     3
Choi    3
Jung    3
dtype: int64

In [11]:
df.isnull().sum(axis=1)

Python       0
DS           3
Algorithm    2
dtype: int64

In [12]:
df.isnull().count(axis=1)

Python       4
DS           4
Algorithm    4
dtype: int64

In [13]:
df.isnull().sum(axis=0)

Family Name
Seol    1
Kim     2
Choi    1
Jung    1
dtype: int64

> 답 : 2

__10 다음은 판다스의 내장 함수(built-in function)에 대한 설명이다. 함수와 기능이 잘못 짝지어진 것을 고르시오.__

1. sum() : 시리즈(series) 데이터 값이 숫자형 값일 경우에는 합의 값을, 문자열 타입일 경우 
연결(concatenate)을 보여준다.
2. describe() : 숫자 데이터 타입의 요약 정보를 보여준다. 
3. isnull() : 요소 값이 NULL인 인덱스를 반환한다.
4. mean() : 시리즈(series) 데이터 값이 숫자형 값일 경우에는 평균값을, 문자열 타입일 경우 글자 수에 대한 카운터(counter) 값을 보여준다.

> 답 : 1  
> 문자열 타입일 경우 연결이 되지 않음

__11 다음과 같은 데이터에서 숫자형 열들의 통계 데이터를 추출하고자 한다. 적절한 코드를 고르시오.__

In [21]:
df = pd.DataFrame(data=[['Lee', 90.0, 20.0, 0.0, 'female', 'first'],
                        ['Kim', 0.0, 0.0, 40.0, 'male', 'second'],
                        ['Park', 80.0, 30.0, 45.0, 'female', 'second'],
                        ['Choi', 0.0, 50.0, 70.0, 'male', 'first'],
                        ['Choi', 100.0, 0.0, 50.0, 'male', 'third']],
                  columns=['name', 'MATH', 'ENG', 'KOR', 'sex', 'trial'])
df

   name   MATH   ENG   KOR     sex   trial
0   Lee   90.0  20.0   0.0  female   first
1   Kim    0.0   0.0  40.0    male  second
2  Park   80.0  30.0  45.0  female  second
3  Choi    0.0  50.0  70.0    male   first
4  Choi  100.0   0.0  50.0    male   third

In [22]:
pd.pivot_table(df, index=["sex"], aggfunc=np.mean)

              ENG        KOR       MATH
sex
female  25.000000  22.500000  85.000000
male    16.666667  53.333333  33.333333

> 답 : 1

__12. 다음 실행 결과와 같은 데이터프레임이 존재할 때, 데이터프레임과 각 데이터프레임의 행의 평균에 대한 합의 제곱을 구하기 위한 코드로 올바른 것은?__

In [27]:
df = pd.DataFrame(np.arange(1, 17).reshape(4, 4))
df

    0   1   2   3
0   1   2   3   4
1   5   6   7   8
2   9  10  11  12
3  13  14  15  16

> 답 : 2

In [30]:
(df + df.mean(axis=0)) ** 2

       0      1      2      3
0   64.0  100.0  144.0  196.0
1  144.0  196.0  256.0  324.0
2  256.0  324.0  400.0  484.0
3  400.0  484.0  576.0  676.0

__13. 다음 실행 결과와 같은 결과를 출력하기 위해 빈칸의 코드로 적절한 것은?__

In [33]:
df1 = pd.DataFrame(np.arange(25).reshape(5, 5), columns=list("abcde"))
df2 = pd.DataFrame(np.arange(16).reshape(4, 4), columns=list("abcd"))

(df1 + df2).fillna(0)

      a     b     c     d    e
0   0.0   2.0   4.0   6.0  0.0
1   9.0  11.0  13.0  15.0  0.0
2  18.0  20.0  22.0  24.0  0.0
3  27.0  29.0  31.0  33.0  0.0
4   0.0   0.0   0.0   0.0  0.0

__14. 다음 실행 결과와 같은 결과를 출력하기 위해 빈칸의 코드로 적절한 것은?__

In [37]:
df1 = pd.DataFrame(np.arange(16).reshape(4, 4))
df2 = pd.DataFrame([[1, 0, 0, 0],
                    [0, 1, 0, 0],
                    [0, 0, 1, 0],
                    [0, 0, 0, 1]])

df1.dot(df2)

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

> 답 : 3